# Laravel backend
resources/**/*.php linguist-language=PHP

# Blade views should NOT affect stats
resources/views/**/*.blade.php linguist-generated

# Frontend (Next.js)
frontend/** linguist-detectable=true
frontend/** linguist-language=TypeScript